<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire recette</title>
    <link rel="stylesheet" href="/styles/ajoutRecette.css">
</head>
<body>
<h1>Créer recette</h1>
<div>
    <h2>Créer une recette </h2>

    <form method="post" th:action="@{'/formRecette'}" th:object="${recetteDTO}">
        <div>
            <label>Titre * :</label>
            <input type="text" th:text="*{titre}">
        </div>

        <div>
            <label>Met * :</label>
            <select th:field="*{idMet}" required>
                <option th:each="met : ${mets}" th:value="${met.getIdMet()}" th:text="${met.nom}"></option>
            </select>
        </div>

        <div>
            <label>Etat * :</label>
            <select th:field="*{idEtat}" required>
                <option th:each="etat : ${etats}" th:value="${etat.getIdEtat()}" th:text="${etat.libelle}"></option>
            </select>
        </div>
        <button type="submit">Valider</button>
    </form>
</div>

<div>
    <br>
    <h2>Ajouter les ingrédients </h2>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <form method="post" th:action="@{'/formRecette'}" th:object="${ingredientDTO}">
        <div>
            <!--nouveau formulaire
            on va ajouter les ingrédients un par un
            -->
            <!--            ajout input hidden pour recup l'id de la recette-->
            <div>
                <label>Ingrédient :</label>
                <select th:field="*{id}" required>
                    <th:block th:each="ingredient : ${@IngredientService.listerIngredients()}">
                        <option th:value="${ingredient.getIdIngredient()}"
                                th:text="${ingredient.nom}"></option>
                    </th:block>
                </select>
            </div>

            <div>
                <label>Quantité :
                    <input type="number" th:field="*{quantite}">
                </label>
            </div>

            <div>
                <label>Mesure :</label>
                <select th:field="*{idMesure}" required>
                    <th:block th:each="mesure : ${mesures}">
                        <option th:value="${mesure.getIdMesure()}"
                                th:text="${mesure.mesure}"></option>
                    </th:block>
                </select>
            </div>

            <button type="submit">Ajouter</button>
        </div>
    </form>
</div>

<div>
    <h2>Ajouter les étapes de préparation</h2>
    <form>
        <!--        rajouter l'auto incrémentation du numéro de l'étape ?-->
        <label>Étapes :
            <input type="text">
        </label>
        <button type="submit">Ajouter</button>
    </form>
</div>

<div>
    <h2>Ajouter un commentaire</h2>
    <form>
        <label>Commentaires :
            <input type="text">
        </label>
        <button type="submit">Ajouter</button>
    </form>
</div>
<!--nouveau form pour les preparations
pareil que pour les ingrédients on va les ajouter une à une

-->
</body>
</html>