<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>BonApp' - Connexion</title>
</head>
<body>

<div class="wrapper-center">
    <h1>Se connecter </h1>

    <div>
        <div th:if="${param.error}">
            Identifiants invalides
        </div>
        <div th:if="${param.logout}">
            Vous avez été déconnecté
        </div>

        <form th:action="@{/login}" method="post">
            <label>Pseudo *</label>
            <input type="text" name="username" required/>

            <label>Mot de passe *</label>
            <input type="password" name="password" required/>

            <button type="submit">Se connecter</button>
        </form>
        <form action="/logout" method="post">
            <!-- CSRF -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <button type="submit">
                Déconnexion
            </button>
        </form>
        <div sec:authorize="not isAuthenticated()">
            <a th:href="@{/inscription}">S'inscrire</a>
        </div>

    </div>

</div>

</body>
</html>