<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>

    <title>BonApp' - Connexion</title>
</head>
<body>


<section>
    <div>
        <h1>Formulaire de connexion</b> </h1>

        <div>

            <div th:if="${param.error}">
                Identifiants invalides
            </div>
            <div th:if="${param.logout}">
                Vous avez été déconnecté
            </div>

            <form th:action="@{/login}" method="post" >
                <label>Pseudo *</label>
                <input type="text" name="username" required/>

                <label>Mot de passe *</label>
                <input type="password" name="password" required/>

                <button type="submit">Se connecter</button>
            </form>
        </div>

    </div>
</section>


</body>
</html>